* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
}

header,
section h2,
section h3,
form button {
	font-family: 'Lagosta', cursiva;
	font-weight: normal;
}

body,
input,
textarea {
	font-family: 'Roboto', sem serifa;
}

header {
	padding: 30px 0;
	background-image: url(./images/pexels-oliver-sjöström-1074505.jpg);
	color: #f7f703;
}

header nav li {
	display: inline;
	margin-left: 18px;
	font-size: 18px;
}

header nav li a {
	color:#f7f703;
	text-decoration: none;
}

.container {
	max-width: 1270px;
	width: 100%;
	margin: 0 auto;
}

header .container,
section .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.brands-list img {
	height: 24px;
}

.brands-list li {
	display: inline;
	margin-right: 8px;
}

section .container {
	align-items: flex-start;
}

section {
	padding: 24px 0;
}

section h2 {
	margin-bottom: 16px;
}

#about {
    background-color: #f8f59f;
}

#contact {
    background-color: #f8f59f;
}

section {
	color: #482104;
}

section p {
	margin-bottom: 10px;
}

.store-front {
    margin-right: 32px;
}

.social-links img {
	height: 24px;
}

.social-links li {
	display: inline;
	margin-right: 8px;
}

.social-links li a {
	text-decoration: none;
}

#contact .container {
	display: block;
}

.contact-methods {
	display: flex;
	justify-content: space-between;
}

form input,
form textarea,
form button {
	display: block;
	width: 320px;
	margin-bottom: 8px;
	padding: 8px;
}

form textarea {
	resize: none;
	height: 180px;
}

section h3 {
	margin-bottom: 16px;
}

form button {
	background-image: url(./images/pexels-oliver-sjöström-1074505.jpg);
	color: #f7f703;
	border: none;
	cursor: pointer;
}

footer {
	background-image: url(./images/pexels-oliver-sjöström-1074505.jpg);
	color: #f7f703;
	padding: 16px 0;
}
