* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	
}

header,
section h2,
section h3,
form button {
	font-family: Roboto, sans-serif;
	font-weight: bold;
	color: #000000;
}

h4 {
	font-size: 16px;
	color: #000000;
	padding: 10px;
}

button {
	background-color: rgb(200, 200, 9);
	padding: 8px;
	font-weight:lighter;
	color: #fff;
	border: none;
	border-radius: 6px;
	justify-content: space-between;
	
}


header {
	padding: 20px 0;
	background-image: url(./images/pexels-oliver-sjöström-1074505.jpg);
	color: #ffffff;
}

header nav li {
	display: inline;
	margin-left: 18px;
	font-size: 1px;
}

header nav li a {
	color:#ffffff;
}

.container {
	max-width: 1270px;
	width: 100%;
	margin: 0 auto;
}

header .container,
section .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

section h2 {
	margin-bottom: 16px;
	border-bottom: 1 solid red;
	
}

.noticias {
	display: grid;
	grid-template-columns: repeat(4, 24.25%);
	column-gap: 2%;
	row-gap: 6%;
	
}

.noticia img {
	max-width: 90%;
	align-items: center;
		
}

#about, #contact {
    background-color: #f8f59f;
}

#contact {
	padding-left: 0;
}

section {
	color: #000000;
	padding: 30px 0;
}

section p {
	margin-bottom: 20px;
}

.store-front {
    margin-right: 32px;
}


#contact .container {
	display: block;
}

form input,
form textarea,
form button {
	display: block;
	width: 320px;
	margin-bottom: 8px;
	align-items: center;
	text-align:justify;

}

section h3, h4 {
	margin-bottom: 16px;
	text-decoration: none;
}

footer {
	background-image: url(./images/pexels-oliver-sjöström-1074505.jpg);
	color: #f7f703;
	padding: 16px 0;
}


@media screen and (max-width: 390px) {
	header {
	padding: 20px 0;
	}
}

header h1 {
	font-size: 24px;
}

header nav li {
	font-size: 16px;
}
	
.store-front {
		margin-right: 32px;
}

section .container {
		align-items: flex-start;
}	

.News {
	grid-template-columns: repeat(1, 48%);
	column-gap: 40%;
	row-gap: 4%;
}

footer p {
	font-size: 12px;
}
		
@media screen and (min-width: 641px) and (max-width: 1023) {
	header navigation { 
	display: none;
}
}

header h1 {
	margin-left: 20px;
}

.loja-front {
	max-width: 100%;
}

.News {
	grid-template-columns: 100%;
}

Section H2 {
	font-size: 24px;
	text-align: justify;
}

Section H3 {
	font-size: 18px;	
}

form input,
form text area,
form button {
	width: 100%;
}

@media screen and (max-width: 1024px) {
	header navigation { 
	display: none;
	}	
}

header h1 {
	margin-left: 20px;
}
	
.loja-front {
	max-width: 100%;
}
	
.News {
	grid-template-columns: 100%;
}
	
Section H2 {
	font-size: 24px;
}
	
Section H3{
	font-size: 18px;
	text-decoration: none;
}
	
form input,
form text area,
form button {
	width: 100%;
}
	